= render 'shared/error_messages', object: thread
= render 'shared/error_messages', object: comment
.flex.justify-center
  = form_with model: thread, url: [board, thread], local: true do |f|
    = fields_for :comment, comment do |c_fields|
      .field
        = c_fields.label :content, 'New Thread'
        %br/
        = c_fields.text_area :content, cols: 60, rows: 10, class: ['form-field']
    .actions
      = f.submit 'Submit'
