= render 'shared/error_messages', object: thread
= render 'shared/error_messages', object: comment
.flex.justify-center
  = form_with model: thread, url: [board, thread], local: true, multipart: true do |f|
    = fields_for :comment, comment do |c_fields|
      .field
        = c_fields.label :content, 'New Thread'
        %br/
        = c_fields.text_area :content, cols: 60, rows: 5, class: ['form-field']
      .field.inline-block
        = c_fields.hidden_field(:image, value: comment.cached_image_data) if comment.cached_image_data
        = c_fields.file_field :image
    .actions.inline-block
      = f.submit 'Submit'
