= render 'shared/error_messages', object: board
- if board.new_record?
  .field
    = form.label :short_name
    %br/
    = form.text_field :short_name
.field
  = form.label :name
  %br/
  = form.text_field :name
.field
  = form.label :description
  %br/
  = form.text_field :description
.actions
  = form.submit 'Save'
